* {
  padding: 0;
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

.body {
  background-color: #e02294;
  color: oldlace;
  display: flex;
  align-items: center;
  justify-content: center;
}

.gradient-border {
  border: solid;
  border-image-slice: 1;
  border-width: 7px;
  border-image-source: linear-gradient(60deg, #b16ec4, #5f97b9);
}

.menu {
  height: 150px;
  width: 150px;
  display: inline-flex;
  justify-content: center;
  cursor: pointer;
}

.hamberger-menu {
  --height: 10px;
  height: 10px;
  width: 100%;
  background-color: oldlace;
  border-radius: calc(var(--height));
  position: relative;
  transform: rotate(0deg);
  transition: all ease 0.5s;
}

.hamberger-menu::before,
.hamberger-menu::after {
  content: "";
  position: absolute;
  background-color: inherit;
  height: 100%;
  width: 50%;
  margin: auto;
  border-radius: inherit;
  transition: all ease 0.5s;
}

.hamberger-menu::before {
  top: -20px;
  left: 0;
  transform-origin: left;
}

.hamberger-menu::after {
  bottom: -20px;
  right: 0;
  transform-origin: right;
}

.open {
  transform: rotate(135deg);
}
.open::before {
  top: -20px;
  left: 0;
  transform: translateX(100%) rotate(-90deg);
}

.open::after {
  bottom: 0;
  transform: translateX(-100%) rotate(-90deg);
}
